# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bad paths
bin/
obj/
src/obj/

# Code blocks files
*.cbp
*.depend
*.layout

# Additional files to ignore (may be duplicates)
*~
*.o
*.Po
*.swp
*.tar.gz
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
autom4te.cache
src/.deps
src/spaceyrocks
EXPERIMENTAL.md
build/
